body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(101, 100, 100);
  height: 80px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.save {
  background-color: #4caf50;
  color: white;
}

nav {
  background-color: #333;
  align-items: center;
  justify-content: space-between; 
  display: flex;
  padding: 0 20px; 
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  margin: 0;
  padding: 15px;
  color: white;
  cursor: pointer;
}

li.active {
  background-color: #4caf50;
}

.mascoteperso {
  width: 50px;
  height: 50px;
  justify-content: flex-start;
}

.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-right: auto; 
  margin-left: 20px;
}

.mascoteperso {
  width: 60px;
  height: 60px;
}

.options {
  display: flex;
  gap: 10px;
}

.option-btn {
  background-color: #333; 
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.icons {
  width: 25px;
  height: 25px;
  color: white;
}
.icons2 {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  color: white; 
}
.botaosalvar {
  align-items: center;
  justify-content: center;
  padding: 10;
}

.arrumarbotao {
  background-color: #4caf50;
  color: white;
  display: flex;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.textoarrumar {
  margin-top: 4px;
}

.dropdown-container {
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
  padding: 10px;
}

#mapDropdown {
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
  padding: 8px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#mapDropdown option {
  background-color: white;
  color: black; 
}

.map-container {
  background: repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 100px, white 100px, white 200px);
  margin: 0;
  padding: 0;
  height: calc(100vh - 80px); 
}

.speech-bubble {
  position: absolute;
  z-index: 1;
}
